<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <!-- register wsdl extensions of WCFExtras project -->
        <add name="wsdlExtensions" type="WCFExtras.Wsdl.WsdlExtensionsConfig, WCFExtras, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceEndpointBehavior">
          <!-- singleFile = true flattens all generated WSDL's -->
          <wsdlExtensions singleFile="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetBinding="webHttpBinding"
            httpGetBindingConfiguration="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" maxBufferSize="104857600" maxReceivedMessageSize="104857600" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WcfT4Client.Service">
        <endpoint address="" behaviorConfiguration="ServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="Basic"
          name="CustomerService" contract="WcfT4Client.Service.ICustomerService" bindingNamespace="http://github.com/WcfT4Client/Customer" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/CustomerService"></add>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
